In [1]:
import pandas as pd 
import numpy as np

In [2]:
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import OrdinalEncoder

In [3]:
df = pd.read_csv('data/covid_toy.csv')
df.head()

   age  gender  fever cough     city has_covid
0   60    Male  103.0  Mild  Kolkata        No
1   27    Male  100.0  Mild    Delhi       Yes
2   42    Male  101.0  Mild    Delhi        No
3   31  Female   98.0  Mild  Kolkata        No
4   65  Female  101.0  Mild   Mumbai        No

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100 entries, 0 to 99
Data columns (total 6 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        100 non-null    int64
 1   gender     100 non-null    object
 2   fever      90 non-null     float64
 3   cough      100 non-null    object
 4   city       100 non-null    object
 5   has_covid  100 non-null    object
dtypes: float64(1), int64(1), object(4)
memory usage: 4.8+ KB

In [5]:
df.isnull().sum()

age           0
gender        0
fever        10
cough         0
city          0
has_covid     0
dtype: int64

In [6]:
df.shape

(100, 6)

In [22]:
df.city.unique()

array(['Kolkata', 'Delhi', 'Mumbai', 'Bangalore'], dtype=object)

In [23]:
df.gender.unique()

array(['Male', 'Female'], dtype=object)

In [7]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test = train_test_split(df.drop(columns=['has_covid']),df['has_covid'],
                                                test_size=0.2)

In [9]:
X_train

    age  gender  fever   cough       city
30   15    Male  101.0    Mild      Delhi
92   82  Female  102.0  Strong    Kolkata
41   82    Male    NaN    Mild    Kolkata
95   12  Female  104.0    Mild  Bangalore
84   69  Female   98.0  Strong     Mumbai
..  ...     ...    ...     ...        ...
12   25  Female   99.0  Strong    Kolkata
27   33  Female  102.0  Strong      Delhi
70   68  Female  101.0  Strong      Delhi
69   73  Female  103.0    Mild      Delhi
79   48  Female  103.0    Mild    Kolkata

[80 rows x 5 columns]

## 1. Aam Zindagi

In [10]:
# adding simple imputer to fever col
si = SimpleImputer()
X_train_fever = si.fit_transform(X_train[['fever']])

# also the test data
X_test_fever = si.fit_transform(X_test[['fever']])
                                 
X_train_fever.shape

(80, 1)

In [11]:
X_train_fever

array([[101.        ],
       [102.        ],
       [100.80555556],
       [104.        ],
       [ 98.        ],
       [104.        ],
       [ 99.        ],
       [102.        ],
       [101.        ],
       [101.        ],
       [101.        ],
       [104.        ],
       [ 98.        ],
       [ 98.        ],
       [102.        ],
       [104.        ],
       [102.        ],
       [100.80555556],
       [100.        ],
       [100.        ],
       [100.        ],
       [ 98.        ],
       [ 98.        ],
       [100.        ],
       [101.        ],
       [100.80555556],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [104.        ],
       [104.        ],
       [ 98.        ],
       [104.        ],
       [100.        ],
       [100.80555556],
       [103.        ],
       [101.        ],
       [ 99.        ],
       [101.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [103.        ],
       [100.        ],
       [102.        ],
       [101.        ],
       [100.        ],
       [ 98.        ],
       [100.80555556],
       [101.        ],
       [103.        ],
       [ 99.        ],
       [101.        ],
       [100.        ],
       [104.        ],
       [102.        ],
       [100.80555556],
       [103.        ],
       [102.        ],
       [102.        ],
       [100.        ],
       [100.        ],
       [ 98.        ],
       [100.80555556],
       [ 99.        ],
       [ 98.        ],
       [ 98.        ],
       [101.        ],
       [100.        ],
       [104.        ],
       [104.        ],
       [100.80555556],
       [ 98.        ],
       [ 99.        ],
       [104.        ],
       [ 99.        ],
       [102.        ],
       [101.        ],
       [103.        ],
       [103.        ]])

In [12]:
# Ordinalencoding -> cough
oe = OrdinalEncoder(categories=[['Mild','Strong']])
X_train_cough = oe.fit_transform(X_train[['cough']])

# also the test data
X_test_cough = oe.fit_transform(X_test[['cough']])

X_train_cough.shape

(80, 1)

In [13]:
X_train_cough

array([[0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [1.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.],
       [1.],
       [0.],
       [0.],
       [0.],
       [0.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [0.],
       [1.],
       [1.],
       [1.],
       [0.],
       [0.]])

In [14]:
# OneHotEncoding -> gender,city
ohe = OneHotEncoder(drop='first',sparse_output=False)
X_train_gender_city = ohe.fit_transform(X_train[['gender','city']])

# also the test data
X_test_gender_city = ohe.fit_transform(X_test[['gender','city']])

X_train_gender_city.shape

(80, 4)

In [15]:
X_train_gender_city

array([[1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 1.],
       [1., 0., 0., 0.],
       [1., 1., 0., 0.],
       [1., 1., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [1., 1., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 1., 0.],
       [1., 1., 0., 0.],
       [1., 0., 0., 0.],
       [1., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 0., 1., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 0., 0.],
       [0., 0., 0., 0.],
       [1., 1., 0., 0.],
       [0., 0., 0., 0.],
       [0., 0., 1., 0.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 0., 1.],
       [0., 0., 1., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 1., 0., 0.],
       [1., 0., 0., 0.],
       [0., 0., 0., 1.],
       [1., 0., 1., 0.],
       [0., 1., 0., 0.],
       [1., 0., 1., 0.],
       [0., 0., 1., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 1., 0., 0.],
       [0., 0., 1., 0.]])

In [16]:
# Extracting Age
X_train_age = X_train.drop(columns=['gender','fever','cough','city']).values

# also the test data
X_test_age = X_test.drop(columns=['gender','fever','cough','city']).values

X_train_age.shape

(80, 1)

In [17]:
X_train_transformed = np.concatenate((X_train_age,X_train_fever,X_train_gender_city,X_train_cough),axis=1)
# also the test data
X_test_transformed = np.concatenate((X_test_age,X_test_fever,X_test_gender_city,X_test_cough),axis=1)

X_train_transformed.shape

(80, 7)

In [21]:
X_train

    age  gender  fever   cough       city
30   15    Male  101.0    Mild      Delhi
92   82  Female  102.0  Strong    Kolkata
41   82    Male    NaN    Mild    Kolkata
95   12  Female  104.0    Mild  Bangalore
84   69  Female   98.0  Strong     Mumbai
..  ...     ...    ...     ...        ...
12   25  Female   99.0  Strong    Kolkata
27   33  Female  102.0  Strong      Delhi
70   68  Female  101.0  Strong      Delhi
69   73  Female  103.0    Mild      Delhi
79   48  Female  103.0    Mild    Kolkata

[80 rows x 5 columns]

In [20]:
pd.DataFrame(X_train_transformed)

       0           1    2    3    4    5    6
0   15.0  101.000000  1.0  1.0  0.0  0.0  0.0
1   82.0  102.000000  0.0  0.0  1.0  0.0  1.0
2   82.0  100.805556  1.0  0.0  1.0  0.0  0.0
3   12.0  104.000000  0.0  0.0  0.0  0.0  0.0
4   69.0   98.000000  0.0  0.0  0.0  1.0  1.0
..   ...         ...  ...  ...  ...  ...  ...
75  25.0   99.000000  0.0  0.0  1.0  0.0  1.0
76  33.0  102.000000  0.0  1.0  0.0  0.0  1.0
77  68.0  101.000000  0.0  1.0  0.0  0.0  1.0
78  73.0  103.000000  0.0  1.0  0.0  0.0  0.0
79  48.0  103.000000  0.0  0.0  1.0  0.0  0.0

[80 rows x 7 columns]

## Mentos Zindagi

In [25]:
from sklearn.compose import ColumnTransformer

In [26]:
transformer = ColumnTransformer(transformers=[
    ('tnf1',SimpleImputer(strategy='median'),['fever']),
    ('tnf2',OrdinalEncoder(categories=[['Mild','Strong']]),['cough']),
    ('tnf3',OneHotEncoder(sparse_output=False,drop='first'),['gender','city'])
],remainder='passthrough')

In [27]:
transformer

ColumnTransformer(remainder='passthrough',
                  transformers=[('tnf1', SimpleImputer(), ['fever']),
                                ('tnf2',
                                 OrdinalEncoder(categories=[['Mild',
                                                             'Strong']]),
                                 ['cough']),
                                ('tnf3',
                                 OneHotEncoder(drop='first',
                                               sparse_output=False),
                                 ['gender', 'city'])])

In [29]:
transformer.fit_transform(X_train).shape

        0    1    2    3    4    5   6    7
0   103.0  0.0  1.0  0.0  1.0  0.0  60   No
1   100.0  0.0  1.0  1.0  0.0  0.0  27  Yes
2   101.0  0.0  1.0  1.0  0.0  0.0  42   No
3    98.0  0.0  0.0  0.0  1.0  0.0  31   No
4   101.0  0.0  0.0  0.0  0.0  1.0  65   No
..    ...  ...  ...  ...  ...  ...  ..  ...
95  104.0  0.0  0.0  0.0  0.0  0.0  12   No
96  101.0  1.0  0.0  0.0  1.0  0.0  51  Yes
97  101.0  0.0  0.0  0.0  0.0  0.0  20   No
98   98.0  1.0  0.0  0.0  0.0  1.0   5   No
99   98.0  1.0  0.0  0.0  1.0  0.0  10  Yes

[100 rows x 8 columns]

In [18]:
transformer.transform(X_test).shape

(20, 7)